html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('assets/bg.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

td,
.how h3,
#num-score,
.how strong,
#gameOver button,
header .btn-how-to,
.how .btn-close-dialog {
  font-family: 'Fredoka One', cursive;
}

.game-container {
  margin: auto;
  padding: 30px;
  width: fit-content;
}

table {
  border: 0;
  min-width: 350px;
  border-radius: 3px;
  border-spacing: 10px;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 

}

table tr td {
  border: 0;
  width: 100px;
  height: 100px;
  font-size: 2.5em;
  border-radius: 3px;
  text-align: center;
  background-color: black;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  /* added transition */
  transition: all 0.5s ease;
}

header {
  display: flex;
  min-width: 350px;
  max-width: 460px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}

header .score {
  gap: 10px;
  width: 100px;
  display: flex;
  font-size: 20px;
  border-radius: 3px;
  padding: 13px 50px;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  background: transparent;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-shadow:
  0 0 2px #fff,
  0 0 10px #bc13fe,
  0 0 45px #bc13fe,
  0 0 55px #bc13fe,
  0 0 70px #bc13fe,
  0 0 80px #bc13fe;
}

header .score #num-score {
  font-size: 2em;
}

header .btn-translate,
header .btn-how-to {
  width: 50px;
  height: 50px;
  bottom: 17px;
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  transition: all 0.2s ease;
}

header .btn-translate {
  right: 0;
}

header .btn-how-to {
  left: 0;
  color: #fff;
  font-size: 30px;
}

header .btn-translate img {
  width: 25px;
  height: auto;
}

#dialog-how-to {
  border: 0;
  width: 85vw;
  border-radius: 13px;
  color: white;
  background:url('assets/howtobg.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  text-shadow:
  0 0 2px #fff,
  0 0 10px #bc13fe,
  0 0 45px #bc13fe,
  0 0 55px #bc13fe,
  0 0 70px #bc13fe,
  0 0 80px #bc13fe;
  
  box-shadow: 0px 0px 23px #d4d4d4;
}

.how {
  text-align: center;
  position: relative;
  padding: 0 30px 20px;
}

.how h3 {
  font-size: 1.6em;
}

.how img {
  max-width: 80%;
}

.how .btn-close-dialog {
  top: 0;
  right: 0;
  border: 0;
  color: #3c3c3c;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  background: transparent;
}

.how p {
  font-size: 1.3em;
}

.how strong {
  font-weight: unset;
}

#gameOver {
  display: none;
  text-align: center;
}

#gameOver button {
  border: 0;
  outline: 0;
  margin: 30px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe; 
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

._2 {
  background-color: #d9ffaa;
}

._4 {
  background-color: #89fbff;
}

._8 {
  background-color: #ffdfff;
}

._16 {
  background-color: #bd07ff;
}

._32 {
  background-color: #8349ff;
}

._64 {
  background-color: #379944;
}

._128 {
  background-color: #5fa2f0;
}

._256 {
  background-color: #62f9ba;
}

._512 {
  background-color: #ac433a;
}

._1024 {
  background-color: #fec601;
}

._2048 {
  background-color: #ee5622;
}

._greater-than-2048 {
  color: #fff;
  background-color: #0b0c0b;
}

@media (max-width: 515px) {
  table tr td {
    width: 70px;
    height: 70px;
    font-size: 2em;
  }
}

