html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

td,
.how h3,
#num-score,
.how strong,
#gameOver button,
header .btn-how-to,
.how .btn-close-dialog {
  font-family: 'Fredoka One', cursive;
}

.game-container {
  margin: auto;
  padding: 30px;
  width: fit-content;
}

table {
  border: 0;
  min-width: 350px;
  border-radius: 3px;
  border-spacing: 10px;
  background-color: #bbb;

}

table tr td {
  border: 0;
  width: 100px;
  height: 100px;
  font-size: 2.5em;
  border-radius: 3px;
  text-align: center;
  background-color: #e7e7e7;
  /* added transition */
  transition: all 0.5s ease;
}

header {
  display: flex;
  min-width: 350px;
  max-width: 460px;
  position: relative;
  margin-bottom: 30px;
  justify-content: center;
}

header .score {
  gap: 10px;
  width: 100px;
  display: flex;
  font-size: 20px;
  border-radius: 3px;
  padding: 13px 50px;
  background: #f4f4f4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header .score #num-score {
  font-size: 2em;
}

header .btn-translate,
header .btn-how-to {
  width: 50px;
  height: 50px;
  bottom: 17px;
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0cf73f;
  transition: all 0.2s ease;
}

header .btn-translate {
  right: 0;
}

header .btn-how-to {
  left: 0;
  color: #fff;
  font-size: 30px;
}

header .btn-translate img {
  width: 25px;
  height: auto;
}

#dialog-how-to {
  border: 0;
  width: 85vw;
  border-radius: 13px;
  box-shadow: 0px 0px 23px #d4d4d4;
}

.how {
  text-align: center;
  position: relative;
  padding: 0 30px 20px;
}

.how h3 {
  font-size: 1.6em;
}

.how img {
  max-width: 80%;
}

.how .btn-close-dialog {
  top: 0;
  right: 0;
  border: 0;
  color: #3c3c3c;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  background: transparent;
}

.how p {
  font-size: 1.3em;
}

.how strong {
  font-weight: unset;
}

#gameOver {
  display: none;
  text-align: center;
}

#gameOver button {
  border: 0;
  outline: 0;
  margin: 30px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  background: #0cf73f;
  transition: all 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

._2 {
  background-color: #caff8a;
}

._4 {
  background-color: #3bf4fb;
}

._8 {
  background-color: #ffb7ff;
}

._16 {
  background-color: #be0aff;
}

._32 {
  background-color: #580aff;
}

._64 {
  background-color: #119822;
}

._128 {
  background-color: #147df5;
}

._256 {
  background-color: #0aff99;
}

._512 {
  background-color: #ae2012;
}

._1024 {
  background-color: #fec601;
}

._2048 {
  background-color: #ee5622;
}

._greater-than-2048 {
  color: #fff;
  background-color: #0b0c0b;
}

@media (max-width: 515px) {
  table tr td {
    width: 70px;
    height: 70px;
    font-size: 2em;
  }
}
